<!DOCTYPE html>
<html lang="ja">

<head>
	<title>Node.jsによる気象情報閲覧システム</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<h1>Node.jsによる気象情報閲覧システム</h1>
	<div style="position: relative;">
		<img src="images/map.png" width="800" height="800">
		<% dataList.forEach(data=> { %>
			<div class="mapCard" style="left: <%= data.x %>px; top: <%= data.y %>px" title="<%= data.name %>">
				<img src="http://openweathermap.org/img/wn/<%= data.icon %>.png">
				<div>
					<span style="color: blue;">
						<%= data.tempMin %>
					</span>
					/
					<span style="color: red;">
						<%= data.tempMax %>
					</span>
				</div>
			</div>
			<% }); %>
	</div>
</body>

</html>